<%- include("partials/header") %>


<h3> <%= campground.name %> </h3>
<p><img src="<%= campground.imageUrl %>" alt="Camp"> </p>
<p></p> <%= campground.description %> </p>

<a href="/campgrounds" class="btn bg-success text-light btn-block mb-3">Back</a>


<%- include("partials/footer") %>